body{
    background: linear-gradient(45deg,#3F5EFB,#FC466B);
    height: 100hv;
    display: flex;
}
h1{
   
   font-weight: bold;
   text-decoration: underline;
}
h3{
    text-decoration: underline;
 
}
input[type=submit]:hover {
    background-color:gray;
    color : white;
    border-radius: 150px;
    cursor: pointer;
    }
   input[type=submit]{
        background-color: lightgrey;
        border: 0px solid ;
        padding: 5px;
        color:grey;
        border-radius: 3px;
        transition: all 0.5s ease ;
    }
    form{
        color: #fff;
        box-shadow: 20px 20px 40px -6px rgba(0,0,0, .2);
        border-radius: 20px;
        padding: 3px;
    }
