body{
    background: rgba(255, 255, 255, .3);
    padding: 3rem;
    border-radius: 20px;
}
body{
    background: linear-gradient(45deg,#3F5EFB,#FC466B);
    height: 100hv;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    background: rgba(255, 255, 255, .3);
   width: 500px;
    border-radius: 20px;
    box-shadow: 20px 20px 40px -6px rgba(0,0,0, .2);
    text-align: center;
    
}
button[type=submit]{
    background-color: lightgrey;
    border: 0px solid ;
    padding: 5px;
    color:grey;
    border-radius: 3px;
    transition: all 0.5s ease ;
}
button[type=submit]:hover {
    background-color:gray;
    color : white;
    border-radius: 150px;
    cursor: pointer;
    }
   .form-control{
    border : 1px solid gray;
    border-radius: 2px;
    padding: 5px;
    transition: all 0.5s ease;

   }
   .form-control{
    background-color:#fff;
    color :white;
    box-shadow: 4px 4px 60px rgba(0,0,0, .2);
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0,0,0, .2);
}
   
   div{
       font-style: italic;
   }